@mixin buttons-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  button {
    text-transform: capitalize;
    span {
      font-size: $base-font-size;
    }
  }
  .mat-raised-button {
    background-color: mat-color($accent);
  }
}
