@mixin buttons-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  button {
    text-transform: uppercase;
  }
  .mat-raised-button {
    background-color: mat-color($accent);
  }
}
