<mat-toolbar class="footer" color="primary">
  <div fxHide fxShow.gt-xs>
    <button mat-button class="header-item">about</button>
    <button mat-button class="header-item">event</button>
    <button mat-button class="header-item">venue</button>
    <button mat-button class="header-item">sponsor</button>
    <button mat-button mat-raised-button class="header-item">register</button>
  </div>
  <span class="fill-remaining-space"></span>
  <div fxFlex fxLayoutAlign="end">
    <a class="pt2 pr2" href="">
      <img src="../../assets/images/instagram.png" alt="tech your seat instagram page">
    </a>
    <a class="pt2" href="mailto:hello@techyourseat.com">
      <img src="../../assets/images/mail.png" alt="tech your seat instagram page">
    </a>
  </div>
</mat-toolbar>
