<mat-toolbar id="footer" color="primary">
  <div fxHide fxShow.gt-xs>
    <button mat-button [ngx-scroll-to]="'#about'">about</button>
    <button mat-button [ngx-scroll-to]="'#event'">event</button>
    <button mat-button [ngx-scroll-to]="'#sponsor'">sponsors</button>
    <button mat-button [ngx-scroll-to]="'#contact'">contact</button>
    <button mat-button mat-raised-button class="button-link">
      <a href="https://www.eventbrite.com/e/charlotte-women-in-tech-meet-greet-tickets-46532670470" target="_blank">register
      </a>
    </button>
  </div>
  <span class="fill-remaining-space"></span>
</mat-toolbar>
