<section id="sponsor">
  <h1>Sponsors</h1>
  <div class="" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
    <a href="https://www.cardinalsolutions.com/" target="_blank">
      <img src="./../assets/images/cardinalsolutions-logo.png" alt="cardinal solutions logo">
    </a>
    <!-- <a href="https://www.pinckneymarketing.com/" target="_blank">
      <img src="./../assets/images/pinckney-logo.jpg" alt="pinckney marketing">
    </a> -->
    <a href="https://www.captechconsulting.com/" target="_blank">
      <img src="./../assets/images/captech.png" alt="captech consulting">
    </a>
    <a href="https://www.womentechmakers.com/" target="_blank">
      <img src="./../assets/images/wt-logo.png" alt="women techmakers">
    </a>
  </div>
</section>
