<section id="sponsors" class="pa4">
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <div class="sponsor-right">
      <h2>Our Sponsors</h2>
      <p>A huge thanks to our food sponsors!</p>
      <p>Please present your Eventbrite ticket at the door to receive a free meal from Greek Eats!
      </p>
      <button mat-button mat-raised-button class="button-link">
        <a href="https://www.eventbrite.com/e/charlotte-women-in-tech-meet-greet-tickets-46532670470" target="_blank">Register
        </a>
      </button>
    </div>
    <div class="sponsor-left mt5">
      <img src="../../assets/images/sponsors-image.png" alt="sponsors logos">
    </div>
  </div>
</section>
