<section id="sponsor">
  <h1>Sponsors</h1>
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around center">
    <a class="mb3" href="https://www.cardinalsolutions.com/">
      <img src="./../assets/images/cardinal-logo.svg" alt="cardinal solutions logo">
    </a>
    <a class="mb3" href="https://www.pinckneymarketing.com/">Pinckney</a>
    <a class="mb3" href="https://www.captechconsulting.com/">
      <img src="./../assets/images/captech-logo.png" alt="captech logo">
    </a>
  </div>
</section>
