<section id="organizers" class="pa4">
  <h2>Your Organizers</h2>

  <div class="flex">

    <a class="container" href="">
      <img src="../../assets/images/cristina-veale.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">
          <p>Cristina Veale</p>
          <p>Girl Develop It</p>
        </div>
      </div>
    </a>
    <a class="container" href="">
      <img src="../../assets/images/rachel-parsons.png" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">
          <p>Rachel Parsons</p>
          <p>ChickTech</p>
        </div>
      </div>
    </a>
    <a class="container" href="">
      <img src="../../assets/images/jocelyn-keung.png" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">
          <p>Jocelyn Keung</p>
          <p>Women Techmakers</p>
        </div>
      </div>
    </a>
    <a class="container" href="">
      <img src="../../assets/images/alyssa-lemon.png" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">
          <p>Alyssa Lemon</p>
          <p>Girl Develop It</p>
        </div>
      </div>
    </a>
    <a class="container" href="">
      <img src="../../assets/images/lesleacarey.png" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">
          <p>Leslea Carey</p>
          <p>CapTech</p>
        </div>
      </div>
    </a>
    <a class="container" href="">
      <img src="../../assets/images/louise-clark.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">
          <p>Louise Clark</p>
          <p>Girl Develop It</p>
        </div>
      </div>
    </a>
    <a class="container" href="">
      <img src="../../assets/images/sam-shaibani.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">
          <p>Samantha Shaibani</p>
          <p>Women in UX</p>
        </div>
      </div>
    </a>
    <a class="container" href="">
      <img src="../../assets/images/caitlin-sellers.jpeg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">
          <p>Caitlin Sellers</p>
          <p>Lady Tech Charmers</p>
        </div>
      </div>
    </a>
    <a class="container" href="">
      <img src="../../assets/images/carly-gardner.jpeg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">
          <p>Carly Gardner</p>
          <p>Carolina WIT</p>
        </div>
      </div>
    </a>

  </div>
</section>
