<section id="organizers" class="layout-container">
  <h1>Who we are</h1>
  <div class="mb4" fxLayout="column" fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="center center" class="mt3">
      <img src="../../assets/images/cristina-veale.jpg" alt="Cristina Veale">
      <label class="mt3">Cristina Veale</label>
      <a href="https://www.girldevelopit.com/chapters/charlotte">Girl Develop It</a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="mt3">
      <img src="../../assets/images/caitlin-sellers.jpeg" alt="Caitlin Sellers">
      <label class="mt3">Caitlin Sellers</label>
      <a href="https://www.meetup.com/WomenInTech/">Carolina WIT</a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="mt3">
      <img src="../../assets/images/jocelyn-keung.jpg" alt="Jocelyn Keung">
      <label class="mt3">Jocelyn Keung</label>
      <a href="https://www.womentechmakers.com/">Women Techmakers</a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="mt3">
      <img src="../../assets/images/sam-shaibani.jpg" alt="Sam Shaibani">
      <label class="mt3">Sam Shaibani</label>
      <a href="https://www.meetup.com/Women-in-UX-Charlotte/">Women in UX</a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="mt3">
      <img src="../../assets/images/carly-gardner.jpeg" alt="Carly Gardner">
      <label class="mt3">Carly Gardner</label>
      <a href="https://www.meetup.com/WomenInTech/">Carolina WIT</a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="mt3">
      <img src="../../assets/images/leslea-carey.jpeg" alt="Leslea Carey">
      <label class="mt3">Leslea Carey</label>
      <a href="https://www.captechconsulting.com/">CapTech</a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="mt3">
      <img src="../../assets/images/rachel-parsons.jpeg" alt="Rachel Pinky Parsons">
      <label class="mt3">Pinky Parsons</label>
      <a href="https://charlotte.chicktech.org/">ChickTech</a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="mt3">
      <img src="../../assets/images/louise-clark.jpg" alt="Louise Clark">
      <label class="mt3">Louise Clark</label>
      <a href="https://www.girldevelopit.com/chapters/charlotte">Girl Develop It</a>
    </div>
  </div>
</section>
