<section id="about" class="ma3">
  <div class="about-description" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div class="about-left" fxFlex="45">
      <h2>Our Movement</h2>

      <p>We are a coalition of the Charlotte women in tech meetups whose goal is to cultivate a centralized movement of increased
        diversity in the Charlotte community. As part of this movement, we are supporting adult women at varying points in
        their career.
      </p>
      <p>Whether you are just entering the workforce, embarking on a second or third career, or have been in tech for a while,
        we are here to support and inspire you. Advocates are a crucial part of this movement, which is why we also welcome
        and support WIT and STEM advocates.
      </p>
      <p>Through this movement, we intend to bring to light the value of increasing women’s involvement in the tech community.
        To do this, we are bringing the various groups together to provide a large network of resources for diversity & inclusion.
      </p>
      <p>Most importantly, we want to create safe spaces where people are inspired to ask questions and seek out help. No one
        has to go it alone.
      </p>
      <p>Come to the table and #techYourSeat.</p>
    </div>

    <div class="about-right" fxFlex="40">
      <div class="about-image" fxLayout="column" fxLayoutAlign="space-between center">
        <img class="about-groups" src="../../assets/images/groups.png" alt="">
      </div>
    </div>
  </div>

</section>
