<!--Web View-->
<section id="about" fxHide fxShow.gt-xs>
  <div class="about-bg">
    <div class="about-bg-overlay layout-container">
      <h1>About - Mission Statement</h1>
      <ul fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between center">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor, est vel ornare lobortis, elit eros ullamcorper
          arcu, ut ullamcorper tortor ex ac dolor. Integer sodales odio sit amet fermentum rutrum.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor, est vel ornare lobortis, elit eros ullamcorper
          arcu, ut ullamcorper tortor ex ac dolor. Integer sodales odio sit amet fermentum rutrum.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor, est vel ornare lobortis, elit eros ullamcorper
          arcu, ut ullamcorper tortor ex ac dolor. Integer sodales odio sit amet fermentum rutrum.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor, est vel ornare lobortis, elit eros ullamcorper
          arcu, ut ullamcorper tortor ex ac dolor. Integer sodales odio sit amet fermentum rutrum.</li>
      </ul>
    </div>
  </div>
</section>

<!--Mobile View-->
<section id="about" class="about-mobile" fxHide fxShow.xs>
  <div class="about-mobile-bg"></div>
  <div class="layout-container">
    <h1>About - Mission Statement</h1>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor, est vel ornare lobortis, elit eros ullamcorper
        arcu, ut ullamcorper tortor ex ac dolor. Integer sodales odio sit amet fermentum rutrum.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor, est vel ornare lobortis, elit eros ullamcorper
        arcu, ut ullamcorper tortor ex ac dolor. Integer sodales odio sit amet fermentum rutrum.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor, est vel ornare lobortis, elit eros ullamcorper
        arcu, ut ullamcorper tortor ex ac dolor. Integer sodales odio sit amet fermentum rutrum.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor, est vel ornare lobortis, elit eros ullamcorper
        arcu, ut ullamcorper tortor ex ac dolor. Integer sodales odio sit amet fermentum rutrum.</li>
    </ul>
  </div>
</section>
