@import 'variables';
@import 'mixins';

#event {
  padding: 64px;
  @include breakpoint(xs) {
    padding: 64px 16px;
  }
}

h1,
h2 {
  font-weight: $base-font-weight;
}

img {
  border-radius: 50%;
  max-width: 150px;
}
