<section id="details" class="pa5">
  <h1>Event Details</h1>
  <div fxLayout="column">
    <h2>Thursday, July 26th 6:30-8:30pm</h2>
    <p>Did you know <a href="https://smartasset.com/mortgage/best-cities-for-women-in-tech-2018">26% of tech jobs in
      Charlotte</a>
      are filled by women? Would you believe that number is growing?
      But where are all these women? And how do I connect with them?</p>
    <p>We aim to bring them together at the first ever #techYourSeat Meet & Greet. Come out to
      <a href="https://goodroadciderworks.com/">GoodRoad CiderWorks</a>
      to get to know the various meetups and organizations supporting women in tech including Girl Develop It,
      ChickTech Charlotte, Women of UX, Women Techmakers, and Carolina Women in Tech. Not only will you get to hear
      what these groups are up to, but you’ll also get to meet other women and advocates who are passionate about
      building the Charlotte tech community.
    </p>
    <p>What is #techYourSeat all about? We are a coalition of the Charlotte women in tech meetups whose goal is to
      cultivate a centralized movement to increase diversity in the Charlotte community.</p>
    <p class="font-weight-bold">Come out, get to know us, and #techYourSeat!</p>
  </div>
</section>
