<section id="event" fxLayout.xs="column" class="pa4">
  <mat-card fxFlex="50">
    <h2>The Venue</h2>
    <a class="mb4" href="https://www.google.com/maps/dir/''/goodroad+ciderworks/data=!4m5!4m4!1m0!1m2!1m1!1s0x88569f23b508d0a7:0xb59575e3729602e9?sa=X&ved=0ahUKEwia2em2_67bAhVCKqwKHaanCgYQ9RcI0QEwDw"
      fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>location_on</mat-icon>
      <div>
        <br> GoodRoad CiderWorks
        <br>117 Southside Drive
        <br>Charlotte, NC 28217
      </div>
    </a>

    <p>Come out to
      <a href="https://goodroadciderworks.com/">GoodRoad CiderWorks</a>
      to meet the various organizations supporting women in tech. Not only will you see what these groups are up to, but you’ll
      also get network with fellow advocates who are passionate about building the Charlotte tech community.
    </p>
    <p>Come out, get to know us, and #techYourSeat!</p>
    <div fxLayoutAlign="center" class="mt3">
      <button mat-button mat-raised-button class="button-link">
        <a href="https://www.eventbrite.com/e/charlotte-women-in-tech-meet-greet-tickets-46532670470" target="_blank">register
        </a>
      </button>
    </div>
  </mat-card>
  <div fxFlex="50" fxFlexOffset="10px" id="map" #gmap></div>
</section>
