<section id="details" class="pa5">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between center">
    <div fxFlex="1 1 70">
      <h1>Event Details</h1>
      <p>details here</p>
      <p>more details</p>
      <p>very detailed</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 30">
      <img src="../../assets/images/wt-logo.png" alt="Keynote speaker image">
      <label>Keynote speaker</label>
      <p>Topic</p>
    </div>
  </div>
</section>
