<section id="contact">
  <div class="contact-form" fxLayout="column" fxLayoutAlign="center center">
    <h1>Interested in learning more?</h1>
    <p>To learn about ways to support #techYourSeat, email us by clicking the icon below.</p>
    <p class="pb4">Check out our Instagram page to learn about inspiring women in tech leaders.
    </p>
    <div>
      <a class="pa3" href="mailto:hello@techyourseat.com">
        <img src="../../assets/images/mail.png" alt="tech your seat instagram page">
      </a>
      <a class="pa3" href="">
        <img src="../../assets/images/instagram.png" alt="tech your seat instagram page">
      </a>
    </div>
  </div>
</section>
