<section id="contact">
  <div class="contact-form" fxLayout="column" fxLayoutAlign="center center">
    <h1>Interested in learning more?</h1>
    <p class="pb4">Please click on one of the icons below to email us, or check out our social media page.
    </p>
    <div>
      <a class="pt2" href="mailto:hello@techyourseat.com">
        <img src="../../assets/images/mail.png" alt="tech your seat instagram page">
      </a>
      <a class="pt2 pr2" href="">
        <img src="../../assets/images/instagram.png" alt="tech your seat instagram page">
      </a>
    </div>
  </div>
</section>
