<section id="contact" class="pa4">
  <div class="contact-form" fxLayout="column" fxLayoutAlign="center center">
    <h2>Contact Us</h2>
    <p>To learn about ways to support #techYourSeat, email us by clicking the email icon below.</p>
    <p class="pb4">Explore our Instagram hashtag, #techYourSeat, to see the latest news and events on our women in tech community!
    </p>
    <div>
      <a class="pa3" href="mailto:hello@techyourseat.com">
        <img src="../../assets/images/mail.png" alt="tech your seat instagram page">
      </a>
      <a class="pa3" href="https://www.instagram.com/explore/tags/techyourseat/">
        <img src="../../assets/images/instagram.png" alt="explore tags on tech your seat">
      </a>
    </div>
  </div>
</section>
