<section id="location">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between center">
    <div fxFlex="40" fxFlexFill="" class="light-background">
      <h1 class="mt5">
        <mat-icon class="mr2">location_on</mat-icon>
        Venue
      </h1>
      <h3 class="mb4">GoodRoad CiderWorks<br>117 Southside Drive<br>Charlotte, NC 28217</h3>
      <div fxLayoutAlign="center" class="mb5">
          <a href="https://www.google.com/maps/dir/''/goodroad+ciderworks/data=!4m5!4m4!1m0!1m2!1m1!1s0x88569f23b508d0a7:0xb59575e3729602e9?sa=X&ved=0ahUKEwia2em2_67bAhVCKqwKHaanCgYQ9RcI0QEwDw">
            Directions
          </a>
      </div>
    </div>

    <div fxFlex="60" id="map" #gmap></div>
  </div>
</section>
