<section id="location">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between center">
    <div fxFlex="1 1 40" fxFlexFill="" class="light-background">
      <h1 class="mt5">
        <mat-icon class="mr2">location_on</mat-icon>
        Venue
      </h1>
      <h3 class="mb4">Address<br>Charlotte, NC 28202</h3>
      <div fxLayoutAlign="center" class="mb5">
        <button mat-button mat-raised-button id="directions">Directions</button>
      </div>
    </div>
    <div fxFlex="1 1 60">
      map
    </div>
  </div>
</section>
