@import 'variables';

#location {
  background-color: $light-primary;
}

h1,
h3 {
  text-align: center;
  font-weight: $base-font-weight;
}

button {
  color: $white;
}

#map {
  width: 100%;
  min-height: 300px;
}
